spring:
  application:
    name: req-server
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: ${DATASOURCE_URL}
#    username: ${DATASOURCE_USERNAME}
#    password: ${DATASOURCE_PASSWORD}
# S3
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        region: ${BUCKET_REGION}
        bucket: ${BUCKET_NAME}
  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 300MB

# AI
ai:
  server:
    base-url: ${AI_SERVER_URL}
    image-to-vector-endpoint: ${ITV_ENDPOINT}
    text-to-vector-endpoint: ${TTV_ENDPOINT}

pinecone:
  api-key: ${PINECONE_API_KEY}
  index-name: ${PINECONE_INDEX_NAME}
  top-k: ${TOP_K}